<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="logo">
        <a href="">
            <img src="./assets/image/logo_text.png" alt="">
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blogs">Blogs</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>